[Unit]
Description=NVMe-MI management service
Requires=mctp-i2c12-ctrl.service mctp-i2c12-demux.service
After=mctp-i2c12-ctrl.service

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/bin/nvme
SyslogIdentifier=nvme-manager

[Install]
WantedBy=obmc-power-on@0.target

